<div class="div_father column_l">
	<div class="div_title">{la menu}</div>
	<div class="div_content">
		<ul class="ulnostyle">
			<li><a href="i.php?mod=profile"{if gpcget('mod')=='profile'} class="mark"{/if}>{la myself_profile}</a></li>
			<li>{la settings}
				<ul class="ulnostyle subui">
					<li>-<a href="i.php?mod=settings&do=basic"{if gpcget('do')=='basic'} class="mark"{/if}>{la basic}</a></li>
					<li>-<a href="i.php?mod=settings&do=avatar"{if gpcget('do')=='avatar'} class="mark"{/if}>{la avatar}</a></li>
				</ul>
			</li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>