body{
	font:12px "New SimSun","SimSun",Tahoma,Helvetica,"Microsoft Yahei",sans-serif;
	color:#000000;
	background-color:#9eb6d8;
	min-width:700px;
	margin:0;
	padding:0;
}
.div_father {
	border:1px solid #86b9d6;
	margin:10px;
}
.div_title {
	background-color:#a3cde4;
	color:#FFFFFF;
	font-weight:bold;
	padding:3px;
	border-bottom:1px solid #86b9d6;
}
.div_content {
	padding:3px;
	background-color:#FFF;
}
.menu{
	width:160px;
}
.column_l{
	height:100%;
	width:180px;;
	overflow-y:auto;
	float:left;
}
.column_r{
	float:right;
	width:calc(100% - 180px);
}
.header{
	background-color:#FFF;
	width:100%;
	padding:2px;
}
table.set{
	width:100%;
	border-collapse:collapse;
}
.set td{
	padding:3px;
}
input[type=password],input[type=text]{
	width:60%;
}
.c{
	text-align:center;
}