{eval $tpl_sec_url=$_G['config']['bburl'].'misc.php?mod=secode';}
{eval $tpl_sec_id='secode_'.rand(0,3276);}
{if $_G['config']['secode']['type']==0 || $_G['config']['secode']['type']==2}
	<input type="text" name="secode" id="secode" required>&nbsp;<img src="{$tpl_sec_url}" id="{$tpl_sec_id}">&nbsp;<a href="{BADLINK}" onclick="$('{$tpl_sec_id}').src='{$tpl_sec_url}&'+Math.random()">{la refresh_secode}</a>

{else}
	<input type="text" name="secode" id="secode" required>&nbsp;<audio type="audio/mpeg" src="{$tpl_sec_url}" id="{$tpl_sec_id}"></audio><a href="{BADLINK}" onclick="$('{$tpl_sec_id}').src='{$tpl_sec_url}&'+Math.random()">{la refresh_secode}</a> <a href="{BADLINK}" onclick="$('{$tpl_sec_id}').play();">{la play}</a>
{/if}