.dialog{
	height:auto;
	border:5px solid #646464;
	background-color:#f9f9f9;
	position:fixed;
	padding:4px;
	top:5px;
	z-index:105;
	border-radius: 5px;
}
.blbg{
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	width:100%;
	height:100%;
}
.avatar{
	border:1px solid black;
	padding:2px;
	margin:2px;
	background-color:#FFFFFF;
	border-radius:3px;
	width:48px;
	height:48px;
}
.atpicright{
	vertical-align:top;
	display:inline-block;
}
.video{
	width:100%;
	max-width:100%;
}
.attachment{
	display:inline-block;
	padding:3px;
	margin:3px;
}
.smallfont{
	font-size:12px;
}
table{
	border-collapse:collapse;
}
img{
	margin:6px 0;
	max-width:100%;
}
.code{
	padding:2px 0 2px 5px;
	border:1px solid #CCC;
	background:#F7F7F7 url({IMGDIR}codebg.gif) repeat-y 0 0;
	overflow:hidden;
	margin:5px 5px;
}
.code ol{
	list-style-type:decimal-leading-zero;
	font-family:"Courier New",Courier,monospace;
}
.code li{
	margin:5px 0px;
}
.code ol li:hover {
  background:#FFF;
  color:#369;
}
.code a{
	margin-left:40px;
}
.quote{
	padding:2px 0 2px 5px;
	border:1px solid #CCC;
	background-color:#f9f9f9;
	margin:5px 5px;
}
.rq:before{
	color:red;
	content:"*";
	font-style:normal;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
.center{
	text-align:center;
}