.tipsbox{
	background-color:#f2f2f2;
	border:1px solid #cdcdcd;
	padding:3px;
	margin-top:50px;
	margin-left:300px;
	display:inline-block;
}
#mob_view{
	width:431px;
	height:607px;
	margin-top:112px;
	margin-left:18px;
	margin-bottom:129px;
	border:0;
}
.mob_phone{
	background:url("{FILESURL}imgs/mobile/browser.jpg") no-repeat;
	width:471px;
	margin-right:300px;
}